<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand"></a>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/inicio">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aula">Aulas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/depar">Departamentos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Opciones
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"  routerLink="/aula">Aulas</a></li>
              <li><a class="dropdown-item" routerLink="/depar">Departamentos</a></li>
              <li><a class="dropdown-item"  routerLink="/mat">Materias</a></li>
              <li><a class="dropdown-item"  routerLink="/ven">Ventas</a></li>
              <li><a class="dropdown-item"  routerLink="/com">Compras</a></li>
              <li><a class="dropdown-item"  routerLink="/com">Proveedores</a></li>
              
            </ul>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/pre">Presupuesto</a>
          </li>
        </ul>
      </div>
    </div>
</nav>


<router-outlet></router-outlet>